table {
    width: 100%;
    padding: 20px;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0 1rem;
}

thead, tbody {
    color: white;
}

tbody {
    font-weight: 300;
}

.linha {
    background-color: var(--dark-color);
    height: 40px;
    padding: 20px;
}

td, th {
    padding: 10px 20px;
}

