table {
    width: 100%;
    padding: 20px;
    text-align: center;
}

thead, tbody {
    color: white;
}

tbody {
    font-weight: 300;
}

.linha {
    background-color: var(--dark-color);
    height: 40px;
    padding: 20px;
}

td, th {
    padding: 20px;
}

.botao-secundario{
    background-color: transparent;
    color: white;
    text-decoration: none;
    border: 2px solid var(--contrast-color);
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    display: block;
    text-align: center;
}
