{% extends 'base/base.html' %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'perfil/css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} text-center mb-3">{{ message }}</div>
        {% endfor %}
    {% endif %}
    
    <div class="mt-5">
        <h2 class="">Gastos por categoria</h2>
        <hr>
        <input type="month" name="mes-ano" class="form-control text-center my-5 mx-auto" style="width: 182px" value="{{mes_ano}}">
        <div class="mb-5">
            <canvas id="myChart"></canvas>
        </div>
        <p class="fonte-destaque text-center">{{ano}}</p>
        <div class="w-50">
            <canvas id="myChart2"></canvas>
        </div>
    </div>

{% endblock %}

{% block 'script' %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('myChart');
        const ctx2 = document.getElementById('myChart2');
        
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{labels|safe}},
                datasets: [{
                    label: 'Gastos por categoria',
                    data: {{values}},
                    backgroundColor: {{cores_de_fundo|safe}},
                    borderColor: {{cores_da_borda|safe}},
                    borderWidth: 1
                }]
            },    
        });

        new Chart(ctx2, {
            type: 'line',
            data: {
                labels: {{labels|safe}},
                datasets: [{
                    label: 'Gastos por categoria',
                    data: {{values}},
                    backgroundColor: {{cores_de_fundo|safe}},
                    borderColor: {{cores_da_borda|safe}},
                    borderWidth: 1
                }]
            },    
        });
        
    </script>

{% endblock  %}
