{% extends 'base/base.html' %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'perfil/css/home.css' %}" rel="stylesheet">
    <link href="{% static 'perfil/css/gerenciar.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

    <div class="row mt-5">
        <div class="col-md-5">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{message.tags}} text-center mb-3">{{message}}</div>
                {% endfor %}
            {% endif %}
            <p class="fonte-destaque mb-1">Suas contas</p>
            <hr class=" mt-0">

            <div class="div-contas">
                {% for conta in contas %}
                    <div class="lista-conta bg-color-main mb-3">
                        {% if conta.icone %}
                            <img class="icone-contas ms-2" src="{{conta.icone.url}}" alt="Ícone da conta">
                        {% endif %}
                        <span class="align-middle ms-2">{{conta}}</span>
                        <span class="total-conta align-middle positivo ms-auto me-3">R$&nbsp;{{conta.valor|floatformat:"2g"}}
                        </span>
                            <a href="#modalExcluirConta" data-bs-toggle="modal" data-bs-conta="{{conta.id}}" data-bs-custom-class="custom-tooltip" data-bs-tt="tooltip" data-bs-placement="top" title="Excluir">
                                <img src="{% static 'perfil/img/exit.png' %}">
                            </a>
                    </div>
                {% endfor %}
            </div>

            <hr>
            <span class="fonte-destaque">Total:</span>
            <span class="positivo total-conta font-destaque">R$&nbsp;{{total_contas|floatformat:"2g"}}</span>
        </div>

        <div class="col-md-2"></div>

        <div class="col-md-5">
            <p class="fonte-destaque">Nova conta</p>
            <form action="{% url 'cadastrar_conta' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input name="url-da-pagina" class="d-none"></input>
                <div class="mb-3">
                    <label>Apelido</label>
                    <input type="text" name="apelido" class="form-control" placeholder="">
                </div>
                <div class="row pe-3">
                    <div class="col-md-11 mb-3">
                        <label for="banco" class="form-label">Banco</label>
                        <select name="banco" id="banco" class="form-select">
                            <option value="">- - -</option>
                            {% for banco in bancos %}
                                <option value="{{banco.id}}">{{banco.nome}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-1 mb-3 mt-4 pt-1">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#addBanco" data-bs-custom-class="custom-tooltip" data-bs-tt="tooltip" data-bs-placement="top" title="Novo banco"><i class="bi bi-plus-circle-fill icone-contas positivo"></i></a>
                    </div>
                </div>
                <div class="mb-3">
                    <label>Tipo</label>
                    <select name="tipo" class="form-select">
                        <option value="pf">Pessoa física</option>
                        <option value="pj">Pessoa jurídica</option>
                    </select>
                </div>
                <div class="mb-4">
                    <label>Valor</label>
                    <input type="number" name="valor" class="form-control" placeholder="">
                </div>
                <input type="file" placeholder="Ícone" name="icone-conta">
                <input type="submit" class="botao-principal w-100 mt-4">
            </form>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-5">
            <label class="fonte-destaque mb-3">Nova categoria</label>
            <form action="{% url 'cadastrar_categoria' %}" method="POST">
                {% csrf_token %}
                <input name="url-da-pagina" class="d-none"></input>
                <div class="mb-3">
                    <label>Categoria</label>
                    <input type="text" name="categoria" class="form-control">
                </div>
                <div class="mb-3">
                    <input type="checkbox" class="form-check-input" name="cat-essencial">
                    <label class="positivo ms-1">Essencial</label>
                </div>
                <input type="submit" class="botao-principal w-100 mt-2" value="Adicionar">
            </form>
        </div>

        <div class="col-md-2"></div>

        <div class="col-md-5">
            <label class="fonte-destaque mb-3">Suas categorias</label>
            <div class="div-categorias">
                {% for categoria in categorias %}
                    <div class="lista-categoria bg-color-main mb-3">
                        <span>{{categoria}}</span>
                        <span class="total-conta ms-auto">
                            <a href="{% url 'alternar_categoria' categoria.id %}" style="width: 2rem;heigth: 2rem;"  data-bs-custom-class="custom-tooltip" data-bs-tt="tooltip" data-bs-placement="top" title="Alterar">
                                <i class="bi bi-check2-all fs-3 {% if categoria.essencial %}positivo{% else %}text-warning-emphasis{% endif %}"></i>
                            </a>
                        </span>
                        <span class="ms-4">
                            <a href="#modalExcluirCategoria" data-bs-toggle="modal" data-bs-categoria="{{categoria.id}}" data-bs-custom-class="custom-tooltip" data-bs-tt="tooltip" data-bs-placement="top" title="Excluir">
                                <img src="{% static 'perfil/img/exit.png' %}">
                            </a>
                        </span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Modal novo banco -->
    <div class="modal fade" id="addBanco" tabindex="-1" aria-labelledby="addBancoLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-success" id="addBancoLabel">Novo Banco</h1>
                    <button type="button" class="btn-close bg-dark-subtle" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'cadastrar_banco' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input name="url-da-pagina" class="d-none"></input>
                        <div class="mt-1 mb-3">
                            <label for="nome-banco" class="form-label">Nome</label>
                            <input type="text" class="form-control form-control-sm" name="nome-banco" id="nome-banco" autofocus>
                        </div>
                        <div class="mb-3">
                            <label for="icone-banco" class="form-label">Ícone</label>
                            <input class="form-control form-control-sm" name="icone-banco" id="icone-banco" type="file">
                        </div>
                        <input type="submit" class="botao-principal w-100 mt-2 mb-2 col-md" value="Adicionar">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal excluir conta -->
    <div class="modal fade" id="modalExcluirConta" tabindex="-1" aria-labelledby="excluirContaLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-success" id="excluirContaLabel">Excluir conta</h1>
                    <button type="button" class="btn-close bg-dark-subtle" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6>Confirma a exclusão da conta?</h6>
                    <form id="formExcluirConta" method="POST">
                        {% csrf_token %}
                        <div class="d-flex flex-row justify-content-center gap-5">
                            <button type="button" class="btn btn-secondary btn-sm mt-2" data-bs-dismiss="modal">Cancelar</button>
                            <input type="submit" class="btn btn-danger btn-sm mt-2" value="Excluir">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal excluir categoria -->
    <div class="modal fade" id="modalExcluirCategoria" tabindex="-1" aria-labelledby="excluirCategoriaLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-success" id="excluirCategoriaLabel">Excluir categoria</h1>
                    <button type="button" class="btn-close bg-dark-subtle" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6>Confirma a exclusão da categoria?</h6>
                    <form id="formExcluirCategoria" method="POST">
                        {% csrf_token %}
                        <div class="d-flex flex-row justify-content-center gap-5">
                            <button type="button" class="btn btn-secondary btn-sm mt-2" data-bs-dismiss="modal">Cancelar</button>
                            <input type="submit" class="btn btn-danger btn-sm mt-2" value="Excluir">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block 'script' %}
    <script src="{% static 'perfil/js/gerenciar.js' %}"></script>
    <script>
        const modalExcluirConta = document.getElementById('modalExcluirConta');
        const formExcluirConta = document.getElementById('formExcluirConta');
        
        const modalExcluirCategoria = document.getElementById('modalExcluirCategoria');
        const formExcluirCategoria = document.getElementById('formExcluirCategoria');

        const urls = document.querySelectorAll('input[name=url-da-pagina]');
        
        for (const url of urls) {
            url.value = window.location.href;
        }
    
        modalExcluirConta.addEventListener('show.bs.modal', event => {
            // pega o botão que acionou o modal
            const btnClicado = event.relatedTarget
            // pega o atributo passado no botão
            const conta = btnClicado.getAttribute('data-bs-conta');
            // define a action do form
            formExcluirConta.setAttribute('action', `/perfil/excluir_conta/${conta}/`);
        });
        
        modalExcluirCategoria.addEventListener('show.bs.modal', event => {
            // pega o botão que acionou o modal
            const btnClicado = event.relatedTarget
            // pega o atributo passado no botão
            const categoria = btnClicado.getAttribute('data-bs-categoria');
            // define a action do form
            formExcluirCategoria.setAttribute('action', `/perfil/excluir_categoria/${categoria}/`);
        });

        window.onload = function(e) {
            mostrar_barra_vertical('{% url 'quantidade_contas_categorias' %}');
        };
    </script>
{% endblock  %}
