{% extends 'base/base.html' %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'perfil/css/home.css' %}" rel="stylesheet">
    <link href="{% static 'perfil/css/gerenciar.css' %}" rel="stylesheet">
    <link href="{% static 'extrato/css/ver_extrato.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

    <div class="d-flex align-items-center justify-content-between my-5">
        <p class="fonte-destaque mb-0">Definir planejamento</p>
        <input type="month" name="mes-ano" class="form-control text-center" style="width: 182px" value="{{mes_ano}}">
        <a href="{% url 'ver_planejamento' %}" class="botao-secundario">Ver planejamento</a>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{message.tags}} text-center mb-3">{{message}}</div>
        {% endfor %}
    {% endif %}
    <div class="card">
    
        <table>
            <thead>
                <tr>
                    <th>Categoria</th>
                    <th>Valor</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in categorias %}
                    <tr class="linha">
                        <td>{{categoria}}</td>
                        <td>
                            <input type="text" class="form-control w-50 text-end ms-auto money" id="valor-categoria-{{categoria.id}}" value="{{categoria.valor_planejamento|floatformat:"2g"}}">
                        </td>

                        <td><button class="botao-secundario w-100" onclick="update_valor_planejamento_categoria({{categoria.id}})">Salvar</button></td>         
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
{% endblock %}

{% block 'script' %}

    <script>

        $( document ).ready(function() {

            $('.money').mask('000.000.000.000.000,00', {reverse: true});

        });

        function update_valor_planejamento_categoria(id) {
            
            const url = "/planejamento/update_valor_categoria/"+id;
            const valor = document.getElementById('valor-categoria-'+id).value;

            fetch(url, {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({novo_valor: valor})

            }).then(function(result) {
                return result.json()
            }).then(function(data) {
                window.location.reload();
            });
        }

    </script>

{% endblock  %}