.card {
    width: 100%;
    background-color: var(--main-color);
    padding: 20px;
}

.saldo {
    border-left: 2px solid var(--contrast-color);
    padding-left: 10px;
}

.fonte-destaque {
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
}

.fonte-light {
    color: #fff;
    font-weight: 200;
}

.hr-borda {
    border: 1px solid var(--dark-color);
}

.lista-conta,
.lista-categoria {
    color: #fff;
    /* background-color: var(--dark-color); */
    padding: 8px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.bg-color-dark {
    background-color: var(--dark-color);
}

.bg-color-main {
    background-color: var(--main-color);
    color: #65ac8aea;
}

.total-conta {
    color: #B9F1D6;
    font-weight: 200;
    float: right;
}

.botao-principal {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    background-color: var(--contrast-color);
    text-align: center;
    border-radius: 15px;
    border: none;
    text-transform: uppercase;
    opacity: .7;
    transition: .3s;
}

.botao-secundario {
    text-decoration: none;
    color:  var(--contrast-color);
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    background-color: transparent;
    text-align: center;
    border-radius: 15px;
    border: 1px solid var(--contrast-color);
    text-transform: uppercase;
    opacity: .7;
    transition: .3s;
    display: block;
    /* text-align: center; */
}


.botao-principal:hover,
.botao-secundario:hover {
    opacity: 1;
}

.despesa {
    border-right: 2px solid var(--differential-color);
    text-align: right;
    padding-right: 10px;
}

.negativo {
    color: var(--differential-color);
}

.positivo {
    color: var(--contrast-color);
}

.icone-setas {
    width: 50%;
    display: inline;
}

.link {
    color: white;
    text-decoration: none;
}

.icone-contas {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-size: 2rem;
}

/* .div-contas {
    height: 296px;
} */
