{% extends 'base/base.html' %}

{% load static %}
{% block 'head' %}
    <link href="{% static 'perfil/css/home.css' %}" rel="stylesheet">
    <link href="{% static 'perfil/css/gerenciar.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

    <div class="w-75 mx-auto mt-5">
        <h3 class="fonte-destaque mb-4">Adicionar contas mensais</h3>
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }} text-center mb-3">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form action="{% url 'definir_contas' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="titulo">Título</label>
                    <input name="titulo" type="text" class="form-control">
                </div>
                <div class="col-md mb-3">
                    <label for="categoria-id">Categoria</label>
                    <select name="categoria-id" class="form-select">
                        <option value="">- - -</option>
                        {% for categoria in categorias %}
                            <option value="{{categoria.id}}">{{categoria}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-1 mb-3" style="padding-top: 19px;">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#addCategoria" data-bs-custom-class="custom-tooltip" data-bs-tt="tooltip" data-bs-placement="top" title="Nova categoria"><i class="bi bi-plus-circle-fill icone-contas positivo"></i></a>
                </div>
            </div>
            <div class="mb-3">
                <label for="descricao">Descrição</label>
                <textarea name="descricao" class="form-control"></textarea>
            </div>
            <div class="row">
                <div class="col-md mb-3">
                    <label for="valor">Valor</label>  
                    <input name="valor" type="number" class="form-control" step="0.01">
                </div>

                <div class="col-md mb-3">
                    <label for="dia_pagamento">Dia de pagamento</label>
                    <input name="dia_pagamento" min="1" max="31" type="number" class="form-control">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md">
                    <input type="submit" class="botao-principal w-100">
                </div>
                <div class="col-md">
                    <a href="{% url 'ver_contas' %}" class="botao-secundario w-100">Ver contas</a>
                </div>
            </div>

        </form>

    </div>

    <!-- Modal nova categoria -->
    {% include 'partials/modal_nova_categoria.html' %}

{% endblock %}

{% block 'script' %}
    <script>

        const url = document.querySelector('input[name=url-da-pagina]');
        url.value = window.location.href;

    </script>
{% endblock  %}